<!--{{> components}}-->
{{widget 'Button' style="color:red"}}
{{widget 'LabeledLed' 'testing'}}
{{widget 'Led'}}
{{widget 'CheckBox'}}
{{widget 'NumericInput'}}
{{widget 'NumericOutput'}}
{{widget 'LabeledNumericInput' 'Labeled Numeric Input'}}
{{widget 'LabeledNumericOutput' 'Labeled Numeric Output'}}
{{widget 'LabeledTextInput' 'Labeled Text Input'}}
{{widget 'LabeledTextOutput' 'Labeled Text Output'}}
{{widget 'TextOutput'}}
{{widget 'ValueUpDown'}}
{{#widget 'LabeledColumns''Test Elements' style="grid-column: span 3;" }}
    <div style="text-align:center">Column 1 Header</div>
    <div style="text-align:center">Column 2 Header</div>
    <div style="text-align:center">Column 3 Header</div>
    {{#widget 'LabeledNumericOutput' 'Contents 1'}}{{/widget}}
    {{#widget 'LabeledNumericOutput' 'Contents 2'}}{{/widget}}
    {{#widget 'LabeledNumericOutput' 'Contents 3'}}{{/widget}}
    {{#widget 'LabeledNumericOutput' 'Contents 4'}}{{/widget}}
    {{#widget 'LabeledNumericOutput' 'Contents 5'}}{{/widget}}
    {{#widget 'LabeledNumericOutput' 'Contents 6'}}{{/widget}}
{{/widget}}
{{#widget 'Columns' style="grid-column: span 3;" }}
    <div style="text-align:center">Column 1 Header</div>
    <div style="text-align:center">Column 2 Header</div>
    <div style="text-align:center">Column 3 Header</div>
    {{#widget 'LabeledNumericOutput' 'Contents 1'}}{{/widget}}
    {{#widget 'LabeledNumericOutput' 'Contents 2'}}{{/widget}}
    {{#widget 'LabeledNumericOutput' 'Contents 3'}}{{/widget}}
    {{#widget 'LabeledNumericOutput' 'Contents 4'}}{{/widget}}
    {{#widget 'LabeledNumericOutput' 'Contents 5'}}{{/widget}}
    {{#widget 'LabeledNumericOutput' 'Contents 6'}}{{/widget}}
{{/widget}}
{{#widget 'ColumnsBs' maxColumns=12}}
    {{widget 'LabeledLed' "Input1"}}
    {{widget 'LabeledLed' "Input2"}}
    {{widget 'LabeledLed' "Input3"}}
    {{widget 'LabeledLed' "Input4"}}
    {{widget 'LabeledLed' "Input5"}}
    {{widget 'LabeledLed' "Input6"}}
{{/widget}}
{{widget 'Slider'}}
{{#widget 'Dropdown'}}
<dropdown>
    <div>Not Option</div>
    <div class="option">Option 1</div>
    <div>Not Option</div>
    <div class="option">Option 2</div>
    <div>Not Option</div>
    <div class="option">Option 3</div>
</dropdown>
{{/widget}}

<!-- what is the difference between dropdown and dropdown table? -->
<!-- drop down uses the dropdown html element and table does not use that but essentilly the same thing-->
{{#widget 'DropdownTable'}}
    <options>
        <div>Option many :1</div>
        <div>Option many :2</div>
        <div>Option many :3</div>
        <div>Option many :4</div>
    </options>
    <option>
        <div>Individual Option 1</div>
    </option>
    <option>
        <div>Individual Option 2</div>
    </option>
    <options>
        {{#repeat 4}}
        <div>Repeat {{@index}}</div>
        {{/repeat}}
    </options>
{{/widget}}

<!-- where is the text part?
non-text returns number to plc and text returns string value
TODO: should be combined smartly
 -->
{{#widget 'DropdownTableText'}}
    <options>
        <div>Option many :1</div>
        <div>Option many :2</div>
        <div>Option many :3</div>
        <div>Option many :4</div>
    </options>
{{/widget}}

<!-- not sure how to demo this one
don't worry about this one could be broken -->
{{#widget 'TableSelect'}}
<dropdown>
    <div>Not Option</div>
    <div class="option">Option 1</div>
    <div>Not Option</div>
    <div class="option">Option 2</div>
    <div>Not Option</div>
    <div class="option">Option 3</div>
</dropdown>
<div>Hello</div>
{{/widget}}

{{#widget 'MultiSelect' maxColumns=10 data-var-name="gMotorBasic[0].IN.PAR.JogVelocity"}}
<options>
    <div>Option many :1</div>
    <div>Option many :2</div>
    <div>Option many :3</div>
    <div>Option many :4</div>
</options>
<option>
    <div>Individual Option 1</div>
</option>
<option>
    <div>Individual Option 2</div>
</option>
<options>
    {{#repeat 4}}
    <div>Repeat {{@index}}</div>
    {{/repeat}}
</options>
{{/widget}}

<!-- how is this different from multiselect? 
non-text returns number to plc and text returns string value
TODO: should be combined smartly
-->
{{#widget 'MultiSelectText' maxColumns=10 data-var-name="gMotorBasic[0].IN.PAR.JogVelocity"}}
<options>
    <div>Option many :1</div>
    <div>Option many :2</div>
    <div>Option many :3</div>
    <div>Option many :4</div>
</options>
<option>
    <div>Individual Option 1</div>
</option>
<option>
    <div>Individual Option 2</div>
</option>
<options>
    {{#repeat 4}}
    <div>Repeat {{@index}}</div>
    {{/repeat}}
</options>
{{/widget}}

<!-- not sure what the labeled part is here 
don't worry about this -->
{{#widget 'LabeledList' 'Test'}}
    <div>list item 1</div>
    <div>list item 2</div>
    <div>list item 3</div>
    <div>list item 4</div>
{{/widget}}

<!-- non selected pages don't exist on the dom -->
<!-- not sure how to use this one -->
{{widget 'PageSelect' 'Page 1' dom="container1" template="page1"}}
{{widget 'PageSelect' 'Page 2' dom="container1" template="page2"}}
<script id="page1" type="text/x-handlebars-template">
<!-- write your page 2 with normal html -->
page1
</script>
<script id="page2" type="text/x-handlebars-template">
<!-- write your page 2 with normal html -->
page2
</script>
<div id="container1">

</div>

{{widget 'DirectoryBrowser'}}
{{widget 'DirectoryBrowserWindow'}}

<!-- ask katie or jack -->
{{widget 'NumGrid'}}
