<!--{{> components}}-->
{{widget 'Button' 'SetButton' 'set' data-var-name='widgetTest:widget.SetButton'}}
{{widget 'Button' 'ToggleButton' 'toggle' data-var-name='widgetTest:widget.ToggleButton'}}
{{widget 'Button' 'MomentaryButton' 'momentary' data-var-name='widgetTest:widget.MomentaryButton'}}
{{widget 'LabeledLed' 'LabeledLed' data-var-name='widgetTest:widget.LabeledLed'}}
{{widget 'Led' data-var-name='widgetTest:widget.Led'}}
<!-- style it different to differentiate form simple led -->
{{widget 'CheckBox' data-var-name='widgetTest:widget.CheckBox'}}
{{widget 'NumericInput' data-var-name='widgetTest:widget.NumericInput'}}
{{widget 'NumericOutput' data-var-name='widgetTest:widget.NumericOutput'}}
{{widget 'LabeledNumericInput' 'Labeled Numeric Input' data-var-name='widgetTest:widget.LabeledNumericInput'}}
{{widget 'LabeledNumericOutput' 'Labeled Numeric Output' data-var-name='widgetTest:widget.LabeledNumericInput'}}
{{widget 'LabeledTextInput' 'Labeled Text Input' data-var-name='widgetTest:widget.LabeledTextInput'}}
{{widget 'LabeledTextOutput' 'Labeled Text Output'data-var-name='widgetTest:widget.LabeledTextOutput'}}
{{widget 'TextOutput' data-var-name='widgetTest:widget.TextOutput'}}
{{widget 'ValueUpDown'data-var-name='widgetTest:widget.ValueUpDown'}}
{{#widget 'LabeledColumns''Test Elements' style="grid-column: span 3;" }}
    <div style="text-align:center">Column 1 Header</div>
    <div style="text-align:center">Column 2 Header</div>
    <div style="text-align:center">Column 3 Header</div>
    {{widget 'LabeledNumericOutput' 'Contents 1' data-var-name='widgetTest:widget.NumericOutput'}}
    {{widget 'LabeledNumericOutput' 'Contents 2' data-var-name='widgetTest:widget.NumericOutput'}}
    {{widget 'LabeledNumericOutput' 'Contents 3' data-var-name='widgetTest:widget.NumericOutput'}}
    {{widget 'LabeledNumericOutput' 'Contents 4' data-var-name='widgetTest:widget.NumericOutput'}}
    {{widget 'LabeledNumericOutput' 'Contents 5' data-var-name='widgetTest:widget.NumericOutput'}}
    {{widget 'LabeledNumericOutput' 'Contents 6' data-var-name='widgetTest:widget.NumericOutput'}}
{{/widget}}
{{#widget 'Columns' style="grid-column: span 3;" }}
    <div style="text-align:center">Column 1 Header</div>
    <div style="text-align:center">Column 2 Header</div>
    <div style="text-align:center">Column 3 Header</div>
    {{widget 'LabeledNumericOutput' 'Contents 1' data-var-name='widgetTest:widget.NumericOutput'}}
    {{widget 'LabeledNumericOutput' 'Contents 2' data-var-name='widgetTest:widget.NumericOutput'}}
    {{widget 'LabeledNumericOutput' 'Contents 3' data-var-name='widgetTest:widget.NumericOutput'}}
    {{widget 'LabeledNumericOutput' 'Contents 4' data-var-name='widgetTest:widget.NumericOutput'}}
    {{widget 'LabeledNumericOutput' 'Contents 5' data-var-name='widgetTest:widget.NumericOutput'}}
    {{widget 'LabeledNumericOutput' 'Contents 6' data-var-name='widgetTest:widget.NumericOutput'}}
{{/widget}}
{{#widget 'ColumnsBs' maxColumns=3}}
    {{widget 'LabeledLed' "Input1"}}
    {{widget 'LabeledLed' "Input2"}}
    {{widget 'LabeledLed' "Input3"}}
    {{widget 'LabeledLed' "Input4"}}
    {{widget 'LabeledLed' "Input5"}}
    {{widget 'LabeledLed' "Input6"}}
{{/widget}}
<!-- needs to be a REAL var range: [-1,1] -->
{{widget 'Slider' data-var-name='widgetTest:widget.Slider'}}
{{#widget 'Dropdown' data-var-name='widgetTest:widget.Dropdown'}}
<dropdown>
    <div>Not Option</div>
    <div class="option">Option 1</div>
    <div>Not Option</div>
    <div class="option">Option 2</div>
    <div>Not Option</div>
    <div class="option">Option 3</div>
</dropdown>
{{/widget}}

<!-- what is the difference between dropdown and dropdown table? -->
<!-- drop down uses the dropdown html element and table does not use that but essentially the same thing-->
{{#widget 'DropdownTable' data-var-name='widgetTest:widget.Dropdown'}}
    <options>
        <div>Option many :1</div>
        <div>Option many :2</div>
        <div>Option many :3</div>
        <div>Option many :4</div>
    </options>
    <option>
        <div>Individual Option 1</div>
    </option>
    <option>
        <div>Individual Option 2</div>
    </option>
    <options>
        {{#repeat 4}}
        <div>Repeat {{@index}}</div>
        {{/repeat}}
    </options>
{{/widget}}

<!-- where is the text part?
non-text returns number to plc and text returns string value
TODO: should be combined smartly
Just writes the index of the dropdown as a string - is this intended?
probably needs to retruen text string not index same as multiselecttext
 -->
{{#widget 'DropdownTableText' data-var-name='widgetTest:widget.DropdownTableText'}}
    <options>
        <div>Option many :1</div>
        <div>Option many :2</div>
        <div>Option many :3</div>
        <div>Option many :4</div>
    </options>
{{/widget}}

<!-- not sure how to demo this one
don't worry about this one could be broken -->
{{#widget 'TableSelect' data-var-name='widgetTest:widget.TableSelect'}}
<dropdown>
    <div>Not Option</div>
    <div class="option">Option 1</div>
    <div>Not Option</div>
    <div class="option">Option 2</div>
    <div>Not Option</div>
    <div class="option">Option 3</div>
</dropdown>
<div>Hello</div>
{{/widget}}

<!-- writes the index integer -->
{{#widget 'MultiSelect' maxColumns=10 data-var-name='widgetTest:widget.MultiSelect'}}
<options>
    <div>Option many :1</div>
    <div>Option many :2</div>
    <div>Option many :3</div>
    <div>Option many :4</div>
</options>
<option>
    <div>Individual Option 1</div>
</option>
<option>
    <div>Individual Option 2</div>
</option>
<options>
    {{#repeat 4}}
    <div>Repeat {{@index}}</div>
    {{/repeat}}
</options>
{{/widget}}

<!-- how is this different from multiselect? 
non-text returns number to plc and text returns string value
TODO: should be combined smartly
writes the index as an integer
setting to negative or a high number shows no element selected
-->
{{#widget 'MultiSelectText' maxColumns=10 data-var-name="widgetTest:widget.MultiSelectText"}}
<options>
    <div>Option many :1</div>
    <div>Option many :2</div>
    <div>Option many :3</div>
    <div>Option many :4</div>
</options>
<option>
    <div>Individual Option 1</div>
</option>
<option>
    <div>Individual Option 2</div>
</option>
<options>
    {{#repeat 4}}
    <div>Repeat {{@index}}</div>
    {{/repeat}}
</options>
{{/widget}}

<!-- not sure what the labeled part is here 
don't worry about this -->
{{#widget 'LabeledList' 'Test'}}
    <div>list item 1</div>
    <div>list item 2</div>
    <div>list item 3</div>
    <div>list item 4</div>
{{/widget}}

<!-- non selected pages don't exist on the dom -->
{{widget 'PageSelect' 'Page 1' dom="container1" template="page1"}}
{{widget 'PageSelect' 'Page 2' dom="container1" template="page2"}}
<script id="page1" type="text/x-handlebars-template">
<!-- write your page 2 with normal html -->
page1
</script>
<script id="page2" type="text/x-handlebars-template">
<!-- write your page 2 with normal html -->
page2
</script>
<div id="container1">

</div>

<!-- service mode when refresh bool flipped? -->
{{widget 'DirectoryBrowser' data-var-name='widgetTest:f.in.cwd' data-var-name-files='widgetTest:Directory' data-var-name-will-open='widgetTest:f.in.refresh'}}
{{widget 'DirectoryBrowserWindow' data-var-name='widgetTest:f.in.cwd' data-var-name-files='widgetTest:Directory' data-var-name-will-open='widgetTest:f.in.refresh'}}

<!-- ask katie or jack 
{{widget 'NumGrid'}}-->

<!-- reach out to katie about building widgets -->