<script id="tmplit-basic-layout" type="text/x-handlebars-template">
    <style>
        /* Parent grid */
        .tmplit-layout-grid{
            position: absolute;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            {{#if footerHeight}}
                grid-template-rows: 1fr {{footerHeight}};
            {{else}}
                grid-template-rows: 1fr 5%;
            {{/if}}
            height: 100%; 
            width: 100%;
            background-color: rgb(214, 213, 213);
        }
        .tmplit-main-wrapper{
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            display: flex;
            flex-direction: row;
        }
        .tmplit-navBar-container{
            width: 20%;
            background-color: rgb(231, 197, 133);
            /* TODO - Make sure these work for text, image and whatever else */
            text-align: center;
            place-content: center;
            place-items: center;
            /* TODO - Remove this if use PageSelectDiv */
            list-style: none;   
        } 
        /* TODO - Remove this if use PageSelectDiv */
        .tmplit-navBar-container a{
            text-decoration: none;
        }
        .tmplit-screen-container{
            width: 100%;

            background-color: rgb(117, 214, 117);
            /* TODO - Make sure these work for text, image and whatever else */
            text-align: center;
            place-content: center;
            place-items: center;
        }
        /* Footer belong to tmplit-layout-grid*/
        .tmplit-footer-container{
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            padding: 0 5px;
        }
        .tmplit-footer-content{
            position: relative;
            top: 50%;
            transform:translateY(-50%);
            opacity: 50%;     
        }
    </style>
    
    {{!-- HMI Layout Wrapper - CSS Grid --}}
    <div class="tmplit-layout-grid">
        {{!-- Content wrapper - CSS Grid --}}
        <div class="tmplit-main-wrapper">
            {{!-- Nav Bar --}}
            <div class="tmplit-navBar-container">
                {{#each actions}} 
                    {{tmplit 'PageSelect' label dom='tmplit-screen-content' template=template}}
                {{/each}}
            </div>
            {{!-- Main Content --}}
            <div id="tmplit-screen-content" class="tmplit-screen-container"> 
                {{>(lookup . 'defaultMainScreen')}} 
            </div>
        </div>
        {{!-- Footer --}}
        <div class="tmplit-footer-container">
            {{#if footerContent}}
                <div class="tmplit-footer-content">{{footerContent}}</div>
            {{else}}
                <div class="tmplit-footer-content">&copy; Loupe</div>
            {{/if}}
        </div>
    </div>

</script>