<script id="tmplit-basic-layout-base" type="text/x-handlebars-template">
    
    {{!-- HMI Layout Container - CSS Grid --}}
    <div class="tmplit-layout-grid">

        {{!-- Content Container - Flex --}}
        <div class="tmplit-main-container tmplit-main-container-direction">

            {{!-- Nav Bar --}}
            <div class="tmplit-navBar-container tmplit-navBar-container-size tmplit-navBar-position tmplit-navBar-container-direction">

                {{!-- Logo --}}
                {{#if logo}}
                <div class="tmplit-navBar-logo-wrapper tmplit-navBar-logo-location">
                    <img src="app/assets/logo.png" />
                </div>
                {{/if}}

                {{!-- Nav Buttons --}}
                <div class="tmplit-navBar-buttons-container">
                    {{#each actions}}
                        <div> 
                            {{tmplit 'PageSelect' label dom='tmplit-screen-content' template=template class=class}}
                        </div>
                    {{/each}}
                </div>
            </div>

            {{!-- Main Content --}}
            <div id="tmplit-screen-content" class="tmplit-screen-container"> 
                {{>(lookup . 'defaultMainScreen')}} 
            </div>
        </div>
        
        {{!-- Footer --}}
        <div class="tmplit-footer-wrapper">
            {{#if footerContent}}
                <div class="tmplit-footer-content">{{footerContent}}</div>
            {{else}}
                <div class="tmplit-footer-content">&copy; Loupe</div>
            {{/if}}
        </div>
    </div>
</script>

<script id="tmplit-basic-layout-left-nav" type="text/x-handlebars-template">

    <link href="@loupeteam/tmplits-hmilayout/css/base.css" rel="stylesheet">
    <link href="@loupeteam/tmplits-hmilayout/css/leftNav.css" rel="stylesheet">
    {{#if logoLoc}}
    <link href="@loupeteam/tmplits-hmilayout/css/logoLoc{{logoLoc}}.css" rel="stylesheet">
    {{/if}}
    {{> tmplit-basic-layout-base}}
</script>

<script id="tmplit-basic-layout-right-nav" type="text/x-handlebars-template">

    <link href="@loupeteam/tmplits-hmilayout/css/base.css" rel="stylesheet">
    <link href="@loupeteam/tmplits-hmilayout/css/rightNav.css" rel="stylesheet">
    {{#if logoLoc}}
    <link href="@loupeteam/tmplits-hmilayout/css/logoLoc{{logoLoc}}.css" rel="stylesheet">
    {{/if}}
    {{> tmplit-basic-layout-base}}
</script>

<script id="tmplit-basic-layout-top-nav" type="text/x-handlebars-template">

    <link href="@loupeteam/tmplits-hmilayout/css/base.css" rel="stylesheet">
    <link href="@loupeteam/tmplits-hmilayout/css/topNav.css" rel="stylesheet">
    {{#if logoLoc}}
    <link href="@loupeteam/tmplits-hmilayout/css/logoLoc{{logoLoc}}.css" rel="stylesheet">
    {{/if}}
    {{> tmplit-basic-layout-base}}
</script>

<script id="tmplit-basic-layout-bot-nav" type="text/x-handlebars-template">

    <link href="@loupeteam/tmplits-hmilayout/css/base.css" rel="stylesheet">
    <link href="@loupeteam/tmplits-hmilayout/css/botNav.css" rel="stylesheet">
    {{#if logoLoc}}
    <link href="@loupeteam/tmplits-hmilayout/css/logoLoc{{logoLoc}}.css" rel="stylesheet">
    {{/if}}
    {{> tmplit-basic-layout-base}}
</script>

