{{#tmplit 'Columns'}}
    {{#tmplit 'Table' 'Inputs'}}
        {{#tmplit 'TableRow'}}
            <span>Channel</span>
            <span>Description</span>
            <span>Status</span>
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 0</span>
            <span>This is an example of digital input</span>
            {{tmplit 'Led' data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 1</span>
            <span>This is an example of an analog input</span>
            {{tmplit 'Numeric' data-var-name='tmplitTest:tmplit.NumericOutput'}}
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 2</span>
            <span>Description</span>
            {{tmplit 'Led' data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 3</span>
            <span>Description</span>
            {{tmplit 'Led' data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
                {{#tmplit 'TableRow'}}
            <span>Ch 4</span>
            <span>Description</span>
            {{tmplit 'Led' data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 5</span>
            <span>Description</span>
            {{tmplit 'Led' data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 6</span>
            <span>Description</span>
            {{tmplit 'Led' data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 7</span>
            <span>Description</span>
            {{tmplit 'Led' data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
    {{/tmplit}}
    {{#tmplit 'Table' 'Outputs'}}
        {{#tmplit 'TableRow'}}
            <span>Channel</span>
            <span>Description</span>
            <span>Status</span>
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 0</span>
            <span>This is an example of digital output</span>
            {{tmplit 'Led'  data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 1</span>
            <span>This is an example of and analog output</span>
            {{tmplit 'Numeric' data-var-name='tmplitTest:tmplit.NumericOutput'}}
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 2</span>
            <span>Description</span>
            {{tmplit 'Led'  data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 3</span>
            <span>Description</span>
            {{tmplit 'Led'  data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
                {{#tmplit 'TableRow'}}
            <span>Ch 4</span>
            <span>Description</span>
            {{tmplit 'Led'  data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 5</span>
            <span>Description</span>
            {{tmplit 'Led'  data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 6</span>
            <span>Description</span>
            {{tmplit 'Led'  data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
        {{#tmplit 'TableRow'}}
            <span>Ch 7</span>
            <span>Description</span>
            {{tmplit 'Led'  data-var-name='tmplitTest:tmplit.SetButton'}}
        {{/tmplit}}
    {{/tmplit}}
{{/tmplit}}

<md-filled-button>Theme</md-filled-button>

<lui-tab-control class='lux-value' value="0" data-var-name='tmplitTest:tmplit.MultiSelect_INT' >
    <template title="Station 1">
        {{#tmplit 'Columns' }}
            {{#tmplit 'Columns' 'Inputs' maxColumns=1}}
                {{#tmplit 'Columns' maxColumns=2}}
                    {{tmplit "Led" 'Input 1' data-var-name='tmplitTest:tmplit.AtHome'}}
                {{/tmplit}}
                {{tmplit "Led" 'Input 3' data-var-name='tmplitTest:tmplit.NegLimit'}}
                {{tmplit "Led" 'Input 4' data-var-name='tmplitTest:tmplit.PosLimit'}}
            {{/tmplit}}
            {{#tmplit 'Columns' 'Outputs' maxColumns=1}}
                {{#tmplit 'Columns' maxColumns=2}}
                    {{tmplit "Led" 'Home' buttonType='set' data-var-name='tmplitTest:tmplit.AtHome'}}
                    {{tmplit "Led" 'Home' buttonType='set' data-set-value="false" data-reset-value="true" data-var-name='tmplitTest:tmplit.AtHome'}}
                {{/tmplit}}
                {{tmplit "Led" 'At Neg Limit' buttonType='toggle' data-var-name='tmplitTest:tmplit.NegLimit'}}
                {{tmplit "Led" 'At Pos Limit' buttonType='momentary' data-var-name='tmplitTest:tmplit.PosLimit'}}
            {{/tmplit}}
        {{/tmplit}}
    </template>
    <template title="Outputs">
        {{#tmplit 'Columns' }}
            {{#tmplit 'Columns' 'Station 1' maxColumns=1}}
                {{tmplit "Led" 'At Home' buttonType='momentary' data-var-name='tmplitTest:tmplit.Output1'}}
                {{tmplit "Led" 'At Home' buttonType='momentary' data-var-name='tmplitTest:tmplit.Output1'}}
                {{tmplit "Led" 'At Home' buttonType='momentary' data-var-name='tmplitTest:tmplit.Output1'}}
                {{tmplit "Led" 'At Home' buttonType='momentary' data-var-name='tmplitTest:tmplit.Output1'}}
            {{/tmplit}}
            {{#tmplit 'Columns' 'Station 2' maxColumns=1}}
                {{tmplit "Led" 'At Home' buttonType='momentary' data-var-name='tmplitTest:tmplit.Output1'}}
                {{tmplit "Led" 'At Home' buttonType='momentary' data-var-name='tmplitTest:tmplit.Output1'}}
                {{tmplit "Led" 'At Home' buttonType='momentary' data-var-name='tmplitTest:tmplit.Output1'}}
                {{tmplit "Led" 'At Home' buttonType='momentary' data-var-name='tmplitTest:tmplit.Output1'}}
            {{/tmplit}}
        {{/tmplit}}
    </template>
</lui-tab-control>

{{> TabSample}}

{{!-- pass a partial into another partials parameters --}}
Custom User Controls:
<br />

{{> 'button-label'
label=(Partial "custom-icon" img="app/assets/wireframe.png")
}}

{{> 'button-label'
label=(Partial "custom-icon" img="app/assets/wireframe.png")
data-var-name='tmplitTest:tmplit.SetButton'
class='lux-hide'
}}

{{> 'button-icon'
img="app/assets/wireframe.png"
data-var-name='tmplitTest:tmplit.SetButton'
class='lux-show'
}}

{{> 'icon'
img="app/assets/wireframe.png"
data-var-name='tmplitTest:tmplit.SetButton'
class='lux-btn-set lux-hide'
}}

<div>
    Button
    <br />
    {{#tmplit "Columns" maxColumns=4}}
    {{tmplit 'Numeric' 'Test' type='input' data-var-name='tmplitTest:tmplit.SetButton' style='height:40px; margin:auto'}}
    {{tmplit 'Button' 'SetButton' buttonType='set' data-var-name='tmplitTest:tmplit.SetButton'}}
    {{tmplit 'Button' 'ToggleButton' buttonType='toggle' data-var-name='tmplitTest:tmplit.SetButton'}}
    {{tmplit 'Button' 'MomentaryButton' buttonType='momentary' data-var-name='tmplitTest:tmplit.SetButton'}}
    {{/tmplit}}
</div>

<div>
    Led
    {{#tmplit "Columns" minColumns=4}}
    {{tmplit 'Numeric' 'Test' type='input' data-var-name='tmplitTest:tmplit.Led' style='height:40px; margin:auto'}}
    {{tmplit 'Led' 'label' data-var-name='tmplitTest:tmplit.Led'}}
    {{tmplit 'Led' data-var-name='tmplitTest:tmplit.Led'}}
    {{/tmplit}}
</div>

<!-- style it different to differentiate from simple led -->
<div>
    CheckBox
    {{#tmplit "Columns" minColumns=4}}
    {{tmplit 'Numeric' 'Test' type='input' data-var-name='tmplitTest:tmplit.CheckBox' style='height:40px; margin:auto'}}
    {{tmplit 'CheckBox' 'Label' buttonType='toggle' data-var-name='tmplitTest:tmplit.CheckBox'}}
    {{tmplit 'CheckBox' data-var-name='tmplitTest:tmplit.CheckBox'}}
    {{/tmplit}}
</div>

<div>
    Numeric (output)
    {{#tmplit "Columns" minColumns=4}}
    {{tmplit 'Numeric' 'Test' type='input' data-var-name='tmplitTest:tmplit.NumericOutput'}}
    {{tmplit 'Numeric' 'label' data-var-name='tmplitTest:tmplit.NumericOutput'}}
    {{tmplit 'Numeric' data-var-name='tmplitTest:tmplit.NumericOutput'}}
    {{/tmplit}}
    Numeric (input)
    {{#tmplit "Columns" minColumns=4}}
    {{tmplit 'Numeric' 'Test' type='input' data-var-name='tmplitTest:tmplit.NumericInput'}}
    {{tmplit 'Numeric' 'label' type='input' data-var-name='tmplitTest:tmplit.NumericInput'}}
    {{tmplit 'Numeric' type='input' data-var-name='tmplitTest:tmplit.NumericInput'}}
    {{/tmplit}}
</div>

<div>
    Text (output)
    {{#tmplit "Columns" minColumns=4}}
    {{tmplit 'Text' 'Test' type='input' data-var-name='tmplitTest:tmplit.TextInput'}}
    {{tmplit 'Text' 'label' data-var-name='tmplitTest:tmplit.TextInput'}}
    {{tmplit 'Text' data-var-name='tmplitTest:tmplit.TextInput'}}
    {{/tmplit}}
    Text (input)
    {{#tmplit "Columns" minColumns=4}}
    {{tmplit 'Text' 'Test' type='input' data-var-name='tmplitTest:tmplit.TextOutput'}}
    {{tmplit 'Text' 'label' type='input' data-var-name='tmplitTest:tmplit.TextOutput'}}
    {{tmplit 'Text' type='input' data-var-name='tmplitTest:tmplit.TextOutput'}}
    {{/tmplit}}
</div>

<div>
    ValueUpDown
    {{#tmplit "Columns" minColumns=4}}
    {{tmplit 'Numeric' 'Test' type='input' data-var-name='tmplitTest:tmplit.ValueUpDown' style='height:40px; margin:auto'}}
    {{tmplit 'ValueUpDown' data-var-name='tmplitTest:tmplit.ValueUpDown'}}
    {{/tmplit}}
</div>

<!-- columns aren't being counted correctly i.e. shouldn't have to specify column count here-->
<div>
    Columns
    {{tmplit 'Numeric' 'Test' type='input' data-var-name='tmplitTest:tmplit.NumericOutput' style="width:100px"}}
    {{#tmplit 'Columns' 'label' maxColumns=2}}
    <div style="text-align:center">Column 1 Header</div>
    <div style="text-align:center">Column 2 Header</div>
    {{tmplit 'Numeric' 'Contents 1' data-var-name='tmplitTest:tmplit.NumericOutput'}}
    {{tmplit 'Numeric' 'Contents 2' data-var-name='tmplitTest:tmplit.NumericOutput'}}
    {{tmplit 'Numeric' 'Contents 3' data-var-name='tmplitTest:tmplit.NumericOutput'}}
    {{tmplit 'Numeric' 'Contents 4' data-var-name='tmplitTest:tmplit.NumericOutput'}}
    {{/tmplit}}
    {{#tmplit 'Columns' maxColumns=2}}
    <div style="text-align:center">Column 1 Header</div>
    <div style="text-align:center">Column 2 Header</div>
    {{tmplit 'Numeric' 'Contents 1' data-var-name='tmplitTest:tmplit.NumericOutput'}}
    {{tmplit 'Numeric' 'Contents 2' data-var-name='tmplitTest:tmplit.NumericOutput'}}
    {{tmplit 'Numeric' 'Contents 3' data-var-name='tmplitTest:tmplit.NumericOutput'}}
    {{tmplit 'Numeric' 'Contents 4' data-var-name='tmplitTest:tmplit.NumericOutput'}}
    {{/tmplit}}
</div>

<div>
    ColumnsBs
    {{#tmplit 'ColumnsBs' maxColumns=2}}
    {{tmplit 'Led' "Input1"}}
    {{tmplit 'Led' "Input2"}}
    {{tmplit 'Led' "Input3"}}
    {{tmplit 'Led' "Input4"}}
    {{/tmplit}}
</div>

<!-- needs to be a REAL var range: [-1,1] -->
<div>
    Slider
    {{#tmplit 'Columns' maxColumns=3}}
    {{tmplit 'Numeric' 'Test' type='input' data-var-name='tmplitTest:tmplit.Slider' style='height:40px; margin:auto' }}
    {{tmplit 'Slider' data-var-name='tmplitTest:tmplit.Slider' min=0 max=255}}
    {{tmplit 'Slider' data-var-name='tmplitTest:tmplit.Slider' min=0 max=255}}
    {{/tmplit}}
</div>

<!-- console errors below - passing undefined to handerbars compiled file?? -->
<div>
    Dropdown
    {{#tmplit 'Columns' maxColumns=3}}
        {{tmplit 'Numeric' 'Test' type='input' data-var-name='tmplitTest:tmplit.Dropdown' style='height:40px; margin:auto' }}
        {{#tmplit 'Dropdown' data-var-name='tmplitTest:tmplit.Dropdown'}}
        <dropdown>
            <div class="option">Option 1</div>
            <div class="option">Option 2</div>
        </dropdown>
        {{/tmplit}}
    {{/tmplit}}
</div>

<div>
    DropdownTable
    {{#tmplit 'Columns' maxColumns=3}}
    {{#tmplit 'Columns' maxColumns=1}}
    {{tmplit 'Numeric' 'Test' type='input' data-var-name='tmplitTest:tmplit.DropdownTable_INT' style='height:40px; margin:auto' }}
    {{tmplit 'Text' 'Test' type='input' data-var-name='tmplitTest:tmplit.DropdownTable_STRING' style='height:40px; margin:auto' }}
    {{/tmplit}}
    {{#tmplit 'DropdownTable' data-var-name='tmplitTest:tmplit.DropdownTable_INT' data-var-name-field='tmplitTest:tmplit.DropdownTable_STRING'}}
    <options>
        <div>Option many :1</div>
        <div>Option many :2</div>
        <div>Option many :3</div>
        <div>Option many :4</div>
    </options>
    {{/tmplit}}
    {{/tmplit}}
</div>

<!-- not sure how to demo this one
don't worry about this one could be broken -->
<div>
    TableSelect
    {{#tmplit 'Columns' maxColumns=2}}
    {{tmplit 'Numeric' 'Test' type='input' data-var-name='tmplitTest:tmplit.TableSelect' style='height:40px; margin:auto' }}
    {{#tmplit 'TableSelect' data-var-name='tmplitTest:tmplit.TableSelect' style='height:300px'}}
    <dropdown>
        <div>Not Option</div>
        <div class="option">Option 1</div>
        <div>Not Option</div>
        <div class="option">Option 2</div>
        <div>Not Option</div>
        <div class="option">Option 3</div>
    </dropdown>
    {{/tmplit}}
    {{/tmplit}}
</div>

<div>
    MultiSelect
    {{#tmplit 'Columns' maxColumns=2}}
        {{#tmplit 'Columns' maxColumns=1}}
        {{tmplit 'Numeric' 'Test' type='input' data-var-name='tmplitTest:tmplit.MultiSelect_INT' style='height:40px; margin:auto' }}
        {{tmplit 'Text' 'Test' type='input' data-var-name='tmplitTest:tmplit.MultiSelect_STRING' style='height:40px; margin:auto' }}
        {{/tmplit}}
        {{#tmplit 'MultiSelect' maxColumns=10 data-var-name="tmplitTest:tmplit.MultiSelect_INT" data-var-name-field="tmplitTest:tmplit.MultiSelect_STRING"}}
        <options>
            <div>Option many :1</div>
            <div>Option many :2</div>
            <div>Option many :3</div>
            <div>Option many :4</div>
        </options>
        {{/tmplit}}
    {{/tmplit}}
</div>

<div>
    Multi Page Select
    {{#tmplit 'MultiSelect' maxColumns=10 data-var-name="tmplitTest:tmplit.MultiSelect_INT"}}
    <options>
        {{tmplit 'PageSelect' 'Page 1: json' ctx='{"msg":"hello"}' dom="container1" template="page1"}}
        {{tmplit 'PageSelect' 'Page 2: javascript' ctx='this.innerHTML' dom="container1" template="page2"}}
        {{tmplit 'PageSelect' 'Page 3: string' ctx='Hello' dom="container1" template="page2"}}
        {{tmplit 'PageSelect' 'Page 4: function' ctx='()=>{return "Answer: " + (3.0 +2.0) }' dom="container1" template="page2"}}
        {{tmplit 'PageSelect' 'Page 5: number' ctx=3 dom="container1" template="page2"}}
        {{tmplit 'PageSelect' 'Page 6: object' ctx=(obj '{"msg":"hello"}') dom="container1" template="page1"}}
        {{tmplit 'PageSelect' 'Page 7: none' dom="container1" template="page2"}}
    </options>
    {{/tmplit}}
</div>

<!-- not sure what the labeled part is here 
don't worry about this -->
<div>
    LabeledList
    {{#tmplit 'LabeledList' 'Test'}}
    <div>list item 1</div>
    <div>list item 2</div>
    <div>list item 3</div>
    <div>list item 4</div>
    {{/tmplit}}
</div>

<!-- non selected pages don't exist on the dom -->
{{tmplit 'PageSelect' 'Page 1: json' ctx='{"msg":"hello"}' dom="container1" template="page1"}}
{{tmplit 'PageSelect' 'Page 2: javascript' ctx='this.innerHTML' dom="container1" template="page2"}}
{{tmplit 'PageSelect' 'Page 3: string' ctx='Hello' dom="container1" template="page2"}}
{{tmplit 'PageSelect' 'Page 4: function' ctx='()=>{return "Answer: " + (3.0 +2.0) }' dom="container1" template="page2"}}
{{tmplit 'PageSelect' 'Page 5: number' ctx=3 dom="container1" template="page2"}}
{{tmplit 'PageSelect' 'Page 6: object' ctx=(obj '{"msg":"hello"}') dom="container1" template="page1"}}
{{tmplit 'PageSelect' 'Page 7: none' dom="container1" template="page2"}}

<script id="page1" type="text/x-handlebars-template">
<!-- write your page 2 with normal html -->
    {{msg}} world
</script>
<script id="page2" type="text/x-handlebars-template">
<!-- write your page 2 with normal html -->
    {{ . }}
</script>
<div id="container1">
</div>

<!-- service mode when refresh bool flipped? -->
<div>
    DirectoryBrowser
    {{tmplit 'DirectoryBrowser' data-var-name='tmplitTest:f.in.cwd' data-var-name-files='tmplitTest:Directory' data-var-name-willopen='tmplitTest:f.in.refresh'}}
</div>

DirectoryBrowserWindow
{{tmplit 'DirectoryBrowserWindow' data-var-name='tmplitTest:f.in.cwd' data-var-name-files='tmplitTest:Directory' data-var-name-willopen='tmplitTest:f.in.refresh' style='height:300px'}}


RobotScene
{{tmplit 'RobotScene' robotFile='./@loupeteam/tmplits-robotscene/Robot.glb' style="width:300px; height:300px" onrender="tmplit_test_UpdateScene" lightColor='0xCC6666' lightIntensity='1.5'}}
